@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --prism-white: #fffcf2;
  --warm: #f0ecec;
  --toner-gray: #403d39;
  --dark: #252422;
  --flame: #eb5e28;
  --ease-trans: all 0.3s ease-in;
  --shadow: 2px 2px 12px rgba(107, 107, 107, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--prism-white);
  font-size: 1rem;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 2rem; */
}

nav {
  height: 100px;
  font-weight: 500;
  color: var(--toner-gray);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo-area {
  font-family: "Lobster";
  font-size: 3rem;
  color: var(--flame);
}

.nav-area li {
  padding: 1.2rem;
}

.nav-area li > a {
  color: var(--toner-gray);
  border-bottom: 1px solid transparent;
  padding-bottom: 0.3rem;
  transition: var(--ease-trans);
  -webkit-transition: var(--ease-trans);
  -moz-transition: var(--ease-trans);
  -ms-transition: var(--ease-trans);
  -o-transition: var(--ease-trans);
}

.nav-area li > a:hover {
  border-bottom: 2.5px solid var(--flame);
}

.join-us a {
  background: var(--toner-gray);
  color: var(--prism-white);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0.5rem 1.5rem;
  font-weight: 400;
  font-size: 0.8rem;
}

.join-us {
  transition: var(--ease-trans);
  -webkit-transition: var(--ease-trans);
  -moz-transition: var(--ease-trans);
  -ms-transition: var(--ease-trans);
  -o-transition: var(--ease-trans);
}
.join-us a::after {
  content: "»";
  padding-left: 0.2rem;
  color: var(--flame);
}

.join-us:hover {
  transform: translate(-3px, -1px);
  -webkit-transform: translate(-3px, -1px);
  -moz-transform: translate(-3px, -1px);
  -ms-transform: translate(-3px, -1px);
  -o-transform: translate(-3px, -1px);
  /* box-shadow: rgba(37, 36, 34, 0.5) 1px 1px 5px; */
}

.hero-section {
  margin: 2rem 0;
  height: 50vh;
}

.hero-text,
.hero-image {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-image > svg {
  width: 100%;
}

/* .hero-text-inner{
    line-height: 2.3rem;
} */
.hero-text-inner > h1 {
  font-size: 2.5rem;
  font-weight: 500;
  /* padding: 0 0 0.5rem; */
}

.hero-text-inner > p {
  margin: 0.5rem 0 2.5rem;
  color: var(--toner-gray);
  opacity: 0.8;
}

.hero-text-inner > .join-us a {
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /* padding: .8rem 1.9rem; */
}

.showcase-section {
  width: 100%;
  margin-top: 5rem;
}

.showcase-section .border {
  width: 100px;
  border-bottom: 3px solid var(--flame);
  height: 10px;
  margin: auto;
}

.showcase-section .title {
  margin: 2rem auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.showcase-grid {
  margin-top: 5rem;
  padding: 0 2rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.showcase-card {
  width: 100%;
  background: var(--warm);
  padding: 2.5rem 4.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: var(--shadow);
}

.showcase-icon {
  text-align: center;
}

.showcase-head{
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

.showcase-text{
  padding: 1rem 0 2rem;
  font-size: .9rem;
  text-align: center;
  color: var(--dark);
  opacity: .8;
}
