@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --prism-white: #fffcf2;
  --warm: #ccc5b9;
  --toner-gray: #403d39;
  --dark: #252422;
  --flame: #eb5e28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--prism-white);
  font-size: 1rem;
}

.wrapper {
  width: 100vw;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

nav {
  height: 100px;
  font-weight: 500;
  color: var(--toner-gray);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo-area {
  font-family: "Lobster";
  font-size: 3rem;
  color: var(--flame);
}

.nav-area li {
  padding: 1.2rem;
}

.nav-area li > a {
  color: var(--toner-gray);
}

.join-us a {
  background: var(--toner-gray);
  color: var(--prism-white);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0.5rem 1.5rem;
  font-weight: 400;
  font-size: 0.8rem;
}

.join-us {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.join-us a::after {
  content: "»";
  padding-left: 0.2rem;
  color: var(--flame);
}

.join-us:hover {
  transform: translate(-3px, -1px);
  -webkit-transform: translate(-3px, -1px);
  -moz-transform: translate(-3px, -1px);
  -ms-transform: translate(-3px, -1px);
  -o-transform: translate(-3px, -1px);
  box-shadow: rgba(37, 36, 34, 0.5) 1px 1px 5px;
}

.hero-section {
  margin: 2rem 0;
  height: 50vh;
}

.hero-text,
.hero-image {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-image > svg {
  width: 100%;
}

/* .hero-text-inner{
    line-height: 2.3rem;
} */
.hero-text-inner > h1 {
    font-size: 2.5rem;
    font-weight: 500;
  /* padding: 0 0 0.5rem; */
}

.hero-text-inner>p{
    margin: .5rem 0 2.5rem;
    color: var(--toner-gray);
    opacity: .8;
}

.hero-text-inner>.join-us{
    transform: scale(1.2) translateX(50%);
    -webkit-transform: scale(1.2) translateX(50%);
    -moz-transform: scale(1.2) translateX(50%);
    -ms-transform: scale(1.2) translateX(50%);
    -o-transform: scale(1.2) translateX(50%);
}